.remote-jobs {
  .btn {
    padding: 0.75rem 2.5rem;
    background-color: $color-light-blue;
    border: 1px solid $color-light-blue;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s all;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $color-blue;
      border-color: $color-blue;
    }

    &.btn-secondary {
      background-color: $color-pink;
      border: 1px solid $color-pink;

      &:hover,
      &:focus {
        background-color: $color-magenta;
        border-color: $color-magenta;
      }
    }
  }

  input[type="text"] {
    padding: 0.75rem 1rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin-right: 16px;
    flex-grow: 1;
  }

  input[type="submit"] {
    background-color: $color-pink;
    color: white;
    border: 1px solid $color-pink;
    text-transform: uppercase;
    padding: 0.75rem 2.5rem;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s all;

    &:hover,
    &:focus {
      background-color: $color-purple;
      border-color: $color-purple;
    }
  }
}