.remote-jobs {
  position: relative;
  z-index: 9;

  .container {
    max-width: 1140px !important;
  }
}

.body-bg {
  display: none !important;
}

.icon-list {
  position: relative;

  li {
    list-style: none;
    margin-bottom: 10px;

    &::before {
      content: "";
      background-image: url('https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/purple-tick.svg');
      width: 24px;
      height: 24px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      left: 0;
      transform: translateY(2px);
    }
  }
}