.blog-posts {
  .listing__title {
    @extend h1;
  }

  .blog__content--date,
  .listing-item__desc {
    color: $color-medium-grey !important;
  }

  .listing-item__read-more--link {
    font-size: 14px !important;
    font-weight: bold !important;
    color: $color-blue !important;
  }

  .view-all__btn {
    @extend .btn;
    background-color: transparent !important;
    border-color: $color-navy-blue !important;
    color: $color-navy-blue !important;

    &:hover,
    &:focus {
      background-color: $color-navy-blue !important;
      border-color: $color-navy-blue !important;
      color: white !important;
    }
  }
}
