#homepage-info-2 {
  .row {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    > div {
      &:nth-child(2) {
        @media screen and (max-width: 768px) {
          order: 1;
        }
      }

      &:nth-child(3) {
        @media screen and (max-width: 768px) {
          order: 0;
        }
      }
    }
  }
}
