.details-body__search {

  .listing-item__featured {
    border: 1px solid $color-pink !important;
    box-shadow: 0 0 5px transparentize($color-pink, 0.5) !important;

    &::after {
      content: "";
      position: absolute;
      bottom: 2rem;
      right: 4rem;
      height: 6rem;
      width: 6rem;
      background-image: url('https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/remote-jobs-logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
