.quick-search {
  .form-group__input {
    position: relative;
  }

  #search-tips {
    position: absolute;
    display: block;
    text-align: left;
    left: 1rem;
    top: 100%;
    color: $color-grey;

    @media screen and (max-width: 768px) {
      position: relative;
      left: 0;
    }
  }
}
