.blog-posts,
.blog-items-list {
  .listing__title {
    font-size: 36px !important;
    line-height: 41px !important;
    font-weight: bold !important;
    color: $color-navy-blue !important;
  }

  .blog__content--date,
  .listing-item__desc {
    color: $color-grey !important;
  }

  .listing-item__read-more {
    padding-bottom: 24px;
  }

  .listing-item__read-more--link {
    font-size: 14px !important;
    font-weight: bold !important;
    color: $color-blue !important;
  }

  .view-all__btn {
    padding: 0.75rem 2.5rem !important;
    border-radius: 3px !important;
    margin-top: 30px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    transition: 0.3s all !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: $color-navy-blue !important;
    color: $color-navy-blue !important;
    height: auto !important;
    line-height: 20px !important;

    &:hover,
    &:focus {
      background-color: $color-navy-blue !important;
      border-color: $color-navy-blue !important;
      color: white !important;
    }
  }
}
