.product-items-wrapper {
  .product-item {
    padding: 0;
  }

  .product-item__title {
    padding: 2.5rem;
    margin: 0;
    background-color: transparentize($color-blue, 0.1);
    color: $color-blue;
  }

  .product-item__description {
    padding: 2rem;

    ul {
      li {
        list-style-image: url('https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/blue-tick.svg');
      }

      span {
        color: $color-navy-blue !important;
      }
    }
  }
}
