.navbar {
  .logo {
    margin-right: 80px !important;
  }

  .navbar-left {
    .navbar__item {
      .navbar__link {
        color: $color-navy-blue !important;
      }
    }
  }

  .navbar-right {
    .navbar__item {
      .navbar__login {
        color: $color-blue !important;
      }

      .btn__blue {
        padding: 0.75rem 2rem !important;
        border-radius: 3px !important;
        font-weight: bold;
        transition: 0.3s all;
        text-decoration: none;
        background-color: transparent !important;
        border: 2px solid $color-pink !important;
        color: $color-pink !important;
        height: auto !important;
        line-height: 20px !important;
        margin-top: 2px !important;

        &:hover,
        &:focus {
          background-color: $color-magenta !important;
          border-color: $color-magenta !important;
          color: white !important;
        }
      }
    }
  }
}
