.remote-jobs {
  h1 {
    font-size: 36px;
    line-height: 41px;
    font-weight: bold;
    color: $color-navy-blue;

    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: $color-navy-blue;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: $color-navy-blue;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  h4 {
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    color: $color-navy-blue;
  }

  p {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: $color-navy-blue;
    margin-bottom: 1em;

    &.small,
    small {
      font-size: 15px;
    }
  }

  li {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
  }

  a {
    text-decoration: underline;
  }

  .font-weight-bold {
    font-weight: bold !important;
  }
}