.remote-jobs {
  h1 {
    font-size: 36px;
    line-height: 41px;
    font-weight: bold;
    color: $color-navy-blue;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: $color-navy-blue;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: $color-navy-blue;
  }

  h4 {
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    color: $color-navy-blue;
  }

  p {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: $color-navy-blue;

    small {
      font-size: 14px;
    }
  }

  a {
    text-decoration: underline;
  }

  .font-weight-bold {
    font-weight: bold !important;
  }
}