$color-navy-blue: #010e4c;
$color-blue: #1db5f0;
$color-light-blue: #47d9fb;
$color-purple: #9e12b1;
$color-magenta: #b31097;
$color-pink: #c91b88;

$theme-colors: (
        "navy-blue": $color-navy-blue,
        "blue": $color-blue,
        "light-blue": $color-light-blue,
        "purple": $color-purple,
        "magenta": $color-magenta,
        "pink": $color-pink,
        "white": white,
);

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer / 4,
        2: $spacer / 2,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 3.125,
        7: $spacer * 7.5,
) !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;
