<section id="homepage-info-2" class="remote-jobs bg-light-grey">
    <div class="container pt-0 pt-lg-6 pb-5 pb-lg-8">
        <div class="row">
            <div class="col-12 col-lg-1"></div>
            <div class="col-12 col-lg-5">
                <h1>Get hired by the UKs most Remote-Friendly Brands.</h1>
                <h3>Search vacancies from companies offering 1-5 remote days a week. Fine tune your perfect remote job
                    with our custom search filters.</h3>
                <p class="text-pink"><small>We're on a mission to help you find your perfect flexible remote-friendly
                    role. <a
                            href="/blog/job-seekers-guide-to-remotejobs/"
                            class="text-pink font-weight-bold">Read
                        our
                        top tips</a></small></p>
                <a href="/jobs/" class="btn btn-secondary">Search Jobs</a>
            </div>
            <div class="col-12 col-lg-6">
                <img src="https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/homepage-info-2-alt.png"
                     alt="Male teacher">
            </div>
        </div>
    </div>
</section>