<section id="homepage-hero" class="remote-jobs bg-light-blue">
    <div class="container py-8">
        <div class="row mb-5">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <h1 class="text-center my-0">Work Anywhere.<br>Some or all of the time.<br>You choose.</h1>
            </div>
            <div class="col-12 col-lg-2"></div>
        </div>

        <div class="row mb-7">
            <div class="col-12 col-lg-3"></div>
            <div class="col-12 col-lg-6">
                <h2 class="text-center my-0">Join our community & search the best remote-friendly opportunities in the
                    UK.</h2>
            </div>
            <div class="col-12 col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="/jobs/">
                    <div class="form-field">
                        <input type="text" name="q" placeholder="Search for Job Roles">
                        <input type="submit" value="Refine Search">
                    </div>
                    <p class="text-left mt-1 mb-0"><small>Eg: Digital designer, product manager.</small></p>
                </form>
            </div>
        </div>
    </div>
</section>