<section id="homepage-hero" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <h1 class="text-center">Work Anywhere.<br>Some or all of the time.<br>You choose.</h1>
            <h2 class="text-center">Join our community & search the best remote-friendly opportunities in the UK.</h2>
        </div>
        <div class="col-12 col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/jobs/">
                <div class="form-field">
                    <input type="text" name="q" placeholder="Search for Job Roles">
                    <input type="submit" value="Refine Search">
                </div>
                <p class="text-left">Eg: Digital designer, product manager.</p>
            </form>
        </div>
    </div>
</section>