<section id="info-1" class="remote-jobs bg-light-grey">
    <div class="container py-7">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="" alt="Image placeholder">
            </div>
            <div class="col-12 col-lg-6">
                <h1>Hiring? Offer remote working as a benefit and reach more candidates.</h1>
                <h3>Extend your talent reach with our custom filters on the UK's only dedicated Remote-Friendly job
                    site.</h3>
                <p class="text-light-blue">We're on a mission to help you reach new geographica talent. <a href="#"
                                                                                                           class="text-light-blue font-weight-bold">Read
                    our
                    top tips</a></p>
                <a href="#" class="btn btn-light-blue">Post A Job</a>
            </div>
        </div>
    </div>
</section>