<section id="homepage-banner" class="remote-jobs bg-white">
    <div class="container py-6">
        <div class="row">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <h2 class="text-center my-0">Create your FREE Employer Profile and Submit your Jobs for FREE until <span
                        class="text-light-blue">September
                2020.</span></h2>
            </div>
            <div class="col-12 col-lg-2"></div>
        </div>
    </div>
</section>