<div class="remote-jobs text-center">
    <img src="https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/bell-icon.png"
         alt="Notification icon" class="mb-4">
    <h3 class="text-white text-center mb-5">Sign up for job alerts</h3>
    <h4 class="text-white text-center mb-3">Get job alerts straight to your inbox.</h4>
    <p class="text-white text-center mb-0">Enter your email to get started.</p>
    <p class="text-white text-center my-0"><small>( You will be able to unsubscribe at any moment. )</small></p>
</div>