<section id="homepage-info-1" class="remote-jobs bg-light-grey">
    <div class="container py-5 py-lg-8">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="https://raw.githubusercontent.com/remote-jobs-com/remote-jobs-scripts/master/assets/images/homepage-info-1.png"
                     alt="Female gardener">
            </div>
            <div class="col-12 col-lg-5">
                <h1>Hiring? Offer remote working as a benefit and reach more candidates.</h1>
                <h3>Extend your talent reach with our custom filters on the UK's only dedicated Remote-Friendly job
                    site.</h3>
                <p class="text-blue"><small>We're on a mission to help you reach new geographical talent. <a
                        href="#"
                        class="text-blue font-weight-bold">Read
                    our
                    top tips</a></small></p>
                <a href="#" class="btn btn-primary">Post A Job</a>
            </div>
            <div class="col-12 col-lg-1"></div>
        </div>
    </div>
</section>