<section id="homepage-hero" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <h1 class="text-center">Work Anywhere.<br>Some or all of the time.<br>You choose.</h1>
            <h2 class="text-center">Join our community & search the best remote-friendly opportunities in the UK.</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <form action="/jobs/">
                <input type="text" name="q" placeholder="Search for Job Roles">
                <input type="submit" value="FIND A JOB">
            </form>
        </div>
    </div>
</section>