<section id="pricing-banner" class="remote-jobs">
    <div class="container pb-6">
        <div class="row mb-4">
            <div class="col-12 col-lg-3"></div>
            <div class="col-12 col-lg-6">
                <h2 class="text-center my-0">Talent could be anywhere.<br>Set your job free and bring more candidates
                    into your hiring process.</h2>
            </div>
            <div class="col-12 col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="text-center my-0">We make it easy to find people anywhere in the UK, be that locally or
                    <strong
                            class="text-blue">300
                        miles away.</strong></p>
            </div>
        </div>
    </div>
</section>